.header {
    display: flex;
    width: 1300px;
    align-items: flex-start;
    gap: 300px;
    padding: 10px 20px;
    position: relative;
    background-color: #f5f0f3;
}

.header .image-extractor {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.header .image {
    position: relative;
    width: 32px;
    height: 32px;
}

.header .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #282445;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.header .button {
    display: flex;
    width: 106px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 2px 10px 10px;
    position: relative;
    border-radius: 25px;
    all: unset;
    box-sizing: border-box;
}

.header .div {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #6b73c1;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    all: unset;
    box-sizing: border-box;
}

.header .button-wrapper {
    display: flex;
    width: 106px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px 10px 5px;
    position: relative;
    border-radius: 25px;
    all: unset;
    box-sizing: border-box;
}

.header .div-wrapper {
    display: flex;
    width: 135px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px 10px 15px;
    position: relative;
    border-radius: 25px;
    all: unset;
    box-sizing: border-box;
}

.header .login {
    justify-content: flex-end;
    gap: 12px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    height: 40px;
    align-items: center;
    position: relative;
}

.header .button-wrapper-2 {
    width: 100px;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #6b73c1;
    border-radius: 25px;
    display: flex;
    height: 40px;
    align-items: center;
    position: relative;
    all: unset;
    box-sizing: border-box;
}

.header .button-2 {
    position: relative;
    width: fit-content;
    margin-top: -5.5px;
    margin-bottom: -3.5px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #f5f0f3;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    all: unset;
    box-sizing: border-box;
}


.home-frame14 {
    gap: 100px;
    top: 100px;
    width: 1350px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.home-text {
    color: rgb(0, 0, 0);
    height: auto;
    font-size: 70px;
    font-style: Medium;
    text-align: left;
    font-family: Jost;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.home-text02 {
    color: rgb(0, 0, 0);
    height: auto;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Bitter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.home-searchbar {
    gap: 43px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-urlbar {
    gap: 10px;
    width: 578px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(245, 240, 243, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.home-link {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(217, 217, 217, 1);
}

.home-link1 {
    top: 7px;
    left: 1.9999998807907104px;
    width: 20px;
    height: 10px;
    position: absolute;
}

.home-text04 {
    height: auto;
    font-size: 20px;
    font-style: Bold;
    font-weight: 700;
    line-height: normal;
}

.home-button {
    gap: 10px;
    width: 106px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 25px;
    justify-content: center;
    background-color: rgba(85, 83, 99, 1);
}

.home-text06 {
    color: rgba(188, 171, 171, 1);
    height: auto;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: Jost;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.res-load {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-image: url(./background.jpg);
    background-size: cover;
}

.res-load .div {
    background-image: url(./background.jpg);
    background-size: cover;
    position: relative;
}

.res-load .main-res-frame {
    display: flex;
    flex-direction: column;
    width: 1300px;
    align-items: flex-start;
    gap: 100px;
    position: relative;
    top: 152px;
    left: 0;
}

.res-load .main-res-frame-2 {
    display: flex;
    width: 1250px;
    align-items: center;
    gap: 100px;
    padding: 0px 50px;
    position: relative;
    flex: 0 0 auto;
}

.res-load .side-bar-sort {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 615px;
    align-items: flex-start;
    gap: 31px;
    padding: 0px 10px;
    position: relative;
}

.res-load .sort {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
}

.res-load .sort-head {
    display: flex;
    align-items: center;
    gap: 71px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.res-load .text-wrapper {
    position: relative;
    flex: 1;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .sort-size {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.res-load .big-small {
    position: relative;
    width: 95px;
    height: 26px;
}

.res-load .big-small-2 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #9c9a9b;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .sort-menu {
    display: flex;
    width: 486px;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #3f392e;
}

.res-load .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #1c1b1f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
    padding: 5px 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.res-load .filter-list {
    position: relative;
    width: 18px;
    height: 12px;
}

.res-load .filter {
    flex-direction: column;
    width: 500px;
    gap: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.res-load .text-wrapper-3 {
    position: relative;
    width: 181px;
    margin-top: -1px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .filter-menu {
    width: 489px;
    gap: 10px;
    padding: 15px 25px 15px 10px;
    background-color: #f5f0f3;
    border-radius: 10px;
    border: 1px solid;
    border-color: #3f392e;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.res-load .image-type-filter {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #f7e332;
    border-radius: 10px;
}

.res-load .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -7px;
    margin-bottom: -5px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #3f392e;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .div-wrapper {
    background-color: #96ff8d;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 10px;
}

.res-load .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -7px;
    margin-bottom: -5px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #31732b;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .image-type-filter-2 {
    background-color: #ffd6b0;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 10px;
}

.res-load .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -7px;
    margin-bottom: -5px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #9a0c0c;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .image-type-filter-3 {
    background-color: #6debf3;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 10px;
}

.res-load .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -7px;
    margin-bottom: -5px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #007880;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .image-type-filter-4 {
    background-color: #c784cd;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    border-radius: 10px;
}

.res-load .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -7px;
    margin-bottom: -5px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #731a7b;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .search {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
}

.res-load .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .url-bar {
    display: flex;
    width: 500px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 10px;
    border: 1px solid;
    border-color: #f5f0f3;
}

.res-load .enter-any-URL {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .text-wrapper-10 {
    position: relative;
    width: fit-content;
    font-family: "Jost-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .download-buttons {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.res-load .select-deselect {
    display: flex;
    height: 37px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.res-load .white-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -1px;
    margin-bottom: -1px;
    background-color: #f5f0f3;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
}

.res-load .img {
    position: relative;
    width: 18px;
    height: 18px;
}

.res-load .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Bold", Helvetica;
    font-weight: 700;
    color: #282445;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .white-button-2 {
    padding: 5px 15px;
    background-color: #f5f0f3;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    box-shadow: 0px 4px 4px #00000040;
}

.res-load .copy-selected-urls {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Bold", Helvetica;
    font-weight: 700;
    color: #282445;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .white-button-3 {
    padding: 10px 15px;
    background-color: #282445;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    box-shadow: 0px 4px 4px #00000040;
}

.res-load .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Bold", Helvetica;
    font-weight: 700;
    color: #f5f0f3;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .res-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
}

.res-load .result-header {
    display: flex;
    width: 452px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
}

.res-load .showing-images-from {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .span {
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
}

.res-load .text-wrapper-13 {
    font-family: "Jost-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 20px;
}

.res-load .image-frame-vertical {
    display: flex;
    align-items: flex-end;
    gap: 230px;
    padding: 10px 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #f5f0f3;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #00000040;
}

.res-load .frame-2 {
    display: flex;
    align-items: center;
    gap: 23px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.res-load .rectangle {
    position: relative;
    width: 100px;
    height: 100px;
}

.res-load .text-wrapper-14 {
    position: relative;
    width: fit-content;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #282445;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .frame-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.res-load .file-size {
    display: inline-flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 15px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 10px;
    border: 1px solid;
    border-color: #282445;
}

.res-load .text-wrapper-15 {
    position: relative;
    width: fit-content;
    margin-top: -5px;
    margin-bottom: -3px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #282445;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .image-type {
    display: inline-flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f7e332;
    border-radius: 10px;
}

.res-load .frame-4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.res-load .link {
    position: relative;
    width: 33.85px;
    height: 33.85px;
}

.res-load .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
}

.res-load .faq {
    display: flex;
    gap: 50px;
    left: 20px;
    flex-direction: column;
    align-items: flex-start;
    width: 1300px;
    position: relative;
}

.res-load .faq-header {
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.res-load .text-wrapper-16 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .if-you-can-t-find {
    position: relative;
    align-self: stretch;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .text-wrapper-17 {
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
}

.res-load .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    gap: 50px;
    position: relative;
    flex: 0 0 auto;
}

.res-load .faq-frame {
    display: flex;
    width: 500px;
    gap: 8px;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.res-load .text-wrapper-18 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .lorem-ipsum-dolor {
    position: relative;
    width: 745px;
    height: 203px;
    margin-right: -10px;
}

.res-load .p {
    position: absolute;
    width: 745px;
    top: -1px;
    left: 0;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .frame-6 {
    display: inline-flex;
    align-items: flex-start;
    gap: 50px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -20px;
}

.res-load .footer {
    display: flex;
    width: 1300px;
    align-items: flex-start;
    gap: 127px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: -129px;
    background-color: transparent;
}

.res-load .frame-7 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.res-load .text-wrapper-19 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #f5f0f3;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .frame-8 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 18px;
    padding: 15px 20px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.res-load .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-left: -83px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #f5f0f3;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.res-load .text-wrapper-21 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-left: -13px;
    font-family: "Jost-Medium", Helvetica;
    font-weight: 500;
    color: #f5f0f3;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}